<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="weekly-log">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Weekly Log</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="past-workouts">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Past Workouts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
