<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full grid grid-cols-1 justify-center mt-14">
    <p class="text-center text-4xl font-bold">{{day}}</p>
    <p
      class="text-center text-3xl py-10 w-full text-primary animate-pulse"
      *ngIf="!altWorkoutSet.isAltWorkout"
    >
      {{dailyMessage}}
    </p>

    <div
      class="text-center text-3xl py-10 w-full text-primary animate-pulse"
      *ngIf="altWorkoutSet.isAltWorkout"
    >
      <ion-icon name="alert-circle-outline" class="animate-bounce"></ion-icon>
      <div (click)="altWorkoutModal.present()">
        Tap for an Alternative Workout!
      </div>
    </div>

    <p class="text-center mb-4">Today's Workout</p>
  </div>
  <app-workout-item-list
    [workouts]="workoutSet.workouts"
  ></app-workout-item-list>

  <div class="flex justify-center mt-4">
    <ion-button
      (click)="logOut()"
      shape="round"
      color="medium"
      class="hover:scale-105"
      >Sign Out</ion-button
    >
  </div>

  <!--  Onboarding Modal-->
  <ion-modal [isOpen]="!hasOnboarded">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome!</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding text-center">
        <div class="mt-32">
          <ion-label position="stacked">Enter your username:</ion-label>
          <ion-input
            type="text"
            placeholder="The goodest user is..."
            [(ngModel)]="username"
          ></ion-input>
        </div>

        <div class="m-8">
          <ion-label position="stacked">Do you have gym access?</ion-label>
          <div class="flex justify-center">
            <ion-button
              class="w-4/12"
              (click)="hasGymAccess = 'true'"
              [color]="hasGymAccess === 'true' && 'primary' || 'medium'"
              >Yes</ion-button
            >
            <ion-button
              class="w-4/12"
              (click)="hasGymAccess = 'false'"
              [color]="hasGymAccess === 'false' && 'primary' || 'medium'"
              >No</ion-button
            >
          </div>
        </div>

        <div class="m-8">
          <ion-label position="stacked">What is your goal?</ion-label>
          <div class="flex justify-center">
            <ion-button
              class="w-4/12"
              (click)="userGoal = 'strength'"
              [color]="userGoal === 'strength' && 'primary' || 'medium'"
              >Strength</ion-button
            >
            <ion-button
              class="w-4/12"
              (click)="userGoal = 'weightloss'"
              [color]="userGoal === 'weightloss' && 'primary' || 'medium'"
              >Weight Loss</ion-button
            >
          </div>
        </div>

        <div class="mb-32">
          <ion-label position="stacked">Choose your proficiency:</ion-label>
          <div class="flex justify-center">
            <ion-button
              class="w-fit"
              (click)="userProficiency = 'beginner'"
              [color]="userProficiency === 'beginner' && 'primary' || 'medium'"
              >Beginner</ion-button
            >
            <ion-button
              class="w-fit"
              (click)="userProficiency = 'intermediate'"
              [color]="userProficiency === 'intermediate' && 'primary' || 'medium'"
              >Intermediate</ion-button
            >
            <ion-button
              class="w-fit"
              (click)="userProficiency = 'expert'"
              [color]="userProficiency === 'expert' && 'primary' || 'medium'"
              >Expert</ion-button
            >
          </div>
        </div>

        <div>
          <ion-button
            [disabled]="username.length < 1 || userGoal.length < 1"
            (click)="setOnboarding()"
            >Complete Onboarding</ion-button
          >
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!--  Alt Workout Modal-->
  <ion-modal #altWorkoutModal>
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Alt Workouts Near You</ion-title>
        </ion-toolbar>
        Test
        <ion-button color="primary" (click)="altWorkoutModal.dismiss()"
          >Close</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
