<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-2/6 w-full grid grid-cols-1 justify-center content-end mt-40">
    <p class="text-center text-4xl font-semibold">{{day}}</p>
    <p class="text-center text-3xl py-10 w-full text-primary animate-pulse">{{dailyMessage}}</p>
    <p class="text-center mb-4">Today's Workout</p>
  </div>
  <app-workout-item-list [workoutItems]="workoutItems"></app-workout-item-list>
</ion-content>
