<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Weekly Log </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-center grid">
    <p
      class="break-normal text-4xl text-primary mt-28 animate-pulse hover:animate-spin delay-75 ease-in-out"
    >
      {{encouragingMessage}}
    </p>

    <div class="mt-10 font-semibold">
      <img src="/assets/minions.gif" alt="minions congrats" class="mb-6" />
    </div>

    <p class="mt-8">Your Weekly Stats</p>
  </div>

  <app-weekly-stat-item-list [stats]="stats"></app-weekly-stat-item-list>
</ion-content>
